
<h2>Welcome {{name}}</h2>
<div class="card ca-small">
    <h5 style="text-align: center; height: 10px;">Here are your stories</h5>
</div>
{{#if stories}}

    <table class="striped">
        
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Status</th>

            </tr>
        </thead>

        <tbody>
            {{#each stories}}
                <tr>
                    <td><a href="/stories/{{_id}}">{{title}}</a></td>
                    <td>{{formatDate createdAt 'MMM Do YYYY, hh:mm:ss a'}}</td>
                    <td><span class="dash-status">{{status}}</span></td>
                    <td>
                        <a href="/stories/edit/{{_id}}" class="btn btn-float">
                            <i class="fas fa-edit fa-small"></i>
                        </a>
                        <form action="/stories/{{_id}}" method="POST" id="delete-form">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn red">
                                <i class="fas fa-trash fa-small"></i>
                            </button>
                        </form>

                    </td>
                </tr>
            {{/each}}
        </tbody>

    </table>
{{else}}
    <p> You have not created any stories</p>


{{/if}}